html,
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to bottom, #d79b7c, #80e0e8, #004d40);
  color: aliceblue;
  background-attachment: fixed;
}

.navbar {
  background-color: #d2a085;
}

.nav-link {
  color: aliceblue;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  font-weight: 600;
}

form .form-control::placeholder {
  color: aliceblue;
}

.image-container {
  width: 110px;
  height: 120px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-icon,
.footer-links a {
  text-decoration: none;
  color: aliceblue;
}
